.Home{
    background-color: #c4d9fb;
}
.mine ul{
    width: 100%;
    padding: 12px 10px;
    margin: 50px 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}
.mine ul a:hover::after{
width: 60px;
}
.mine ul a{
    text-decoration: none;
    color: #000;
}
.mine ul a::after{
    content: none;
    width: 0%;
    background-color: antiquewhite;
}
.mine{
    /* background-color: #6cb840; */
    border-radius: 30px 30px 30px 30px;
    border: transparent;
    height: 15vh;
}
.street{
    color:#6cb840 ;
    font-size: large;
}
.food{
    color: rgba(250, 167, 14, 0.877);
    font-size: large;
}
.order{
    background-color:  #6CB840;
    border-radius: 30px 30px 30px 30px;
    border: transparent;
    height: 5vh;
}
.eat{
   color: #EAAB1B;
}
.tog{
    color:#EAAB1B ;
}
.menu{
    display: flex;
    text-align: center;
    font-family: Poppins;
}
.chat{
    color: #6CB840;
    font-size: large;
}
.posh{
    display: flex;
}
.pearl{
    display: flex;
}
.my{
    color: #6CB840;
}
.most{
    color: #6CB840;
}
.hot{
    background-color:#C9ECB5;
    /* display: flex;
    text-align: left; */
}
.us{
    color: #94ee60;
}
.info{
    text-align: center;
    background-color:#fdf1d5 ;
    padding: 4px 10px 10px 4px;
    margin: 12px 12px 12px 12px;
}
.email{
padding: left;
align-content: 20px;
}
.tuma{
    background-color:  #6CB840;
    border-radius: 30px 30px 30px 30px;
    border: transparent;
    height:5vh;
}